name: bandit-security-scan

on:
  push:
    branches: [ '**' ]
    paths:
      - '**.py'
      - '.bandit/**'
      - '.github/workflows/ci-bandit.yml'
  pull_request:
    branches: [ '**' ]
    paths:
      - '**.py'
      - '.bandit/**'
      - '.github/workflows/ci-bandit.yml'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  bandit:
    runs-on: ci-test

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
      with:
        python-version: '3.12'

    - name: Install and run Bandit
      run: |
        pip install bandit
        bandit -r . -c .bandit/bandit.config -x ./Intel-PMT,./perfmon,./src/pugixml,./src/simdjson,./tests/googletest -f txt
